/* Navigation */
.navbar {
    font-size: 1.25em;
    z-index: 1;
}
.nav-item {
    padding: .5em;
}
.nav-link {
    color: white!important;
}
.nav-link:hover{
    color: lightgrey!important;
}
.header{
    text-align: center;
}
.pic{
    border-radius: 50%;
}