body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Navigation */
.navbar {
    font-size: 1.25em;
    z-index: 1;
}
.nav-item {
    padding: .5em;
}
.nav-link {
    color: white!important;
}
.nav-link:hover{
    color: lightgrey!important;
}
.header{
    text-align: center;
}
.pic{
    border-radius: 50%;
}
.about{
    margin: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
}
.about-pic{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{
    text-align: center;
}

/* PROJECT */

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    color: white;
}
.card-image {
    width: 80%;
    margin: 10px;
}
.card .btn-success {
    margin: 5px;
    padding: 5px;
}